<pre class="question-statement">
  <div class="question">
    ## Warm-up

    1.  **Table Availability Function:** A restaurant owner asks you to write a function to find the position of the first available table from a list. If none are available, return -1.
    2.  **Asynchronous Version:** Develop an asynchronous version of the above function.
  </div>
</pre>

<pre>
  <code class="typescript">
    {{{ response }}}
  </code>
</pre>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    hljs.highlightAll()
  })
</script>